.header {
    background-color: #004aad;
    padding: 10px;
  }
  
  .header nav ul {
    display: flex;
    justify-content: center;
  }
  
  .header nav ul li {
    margin: 0 15px;
  }
  
  .header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
  }
  
  .header nav ul li a:hover {
    text-decoration: underline;
  }
  